body{
  margin: 0px;
  font-family: Arial,Helvetica,freesans,sans-serif;
}

/*centers in the middle */
.fixed-width{
  width:1000px;
  margin: 0 auto;
}

.top-bar{
  width:100%;
  height: 41px;
  background-color: white;
  color: black;

}

.top-bar ul{
  margin: 0;
  padding: 0;


}

.top-bar ul li{
  float: left;
  list-style: none;
  border-right: 1px solid #2B2B2B;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 14px 10px 14px;
  
  

}

.news-bar{
  width:100%;
  height: 67px;
  background-color: #BB1919;
  color: white;
   
}

.category-bar{
  width: 100%;
  height: 36px;
  background-color: #A91717;
  color: white;
    
}

.category-bar ul{
  margin: 0;
  padding: 0;
  
}

.category-bar ul li{
  float: left;
  list-style: none;
  border-right: 1px solid #BB4545;
  padding: 3px 10px 9px 10px;
  position: relative;
  right: 10px;
  top: 5px;
  
  
  
  
}


.location-bar{
  width: 100%;
  height: 40px;
  background-color: white;
  color: black;
}

.location-bar ul{
  margin: 0;
  padding: 10px 0px 0px ;
}

.bold{
  font-weight: bold;
  font-size: 1.3em;
}
.location-bar ul li{
  
  list-style: none;
  padding: 1px 12px 0px 12px;
  border-right: 1px solid #879290;
  float: left;
  position: relative;
  right: 10px;

  
  
 
}

.content-box{
  width: 100%;
  background-color: white;
  color: #000000;
}

.content-box h1{
  color: #5A5A5A;
}

.main-photo{
  float: right;
  width: 396px;
  height: 223px;
  position: relative;
  right: 370px;
}

.content-box p{
  width: 215px;
  color: #5A5A5A;
  
}
#content-links{
  margin-top: 45px;
  line-height: 120%;
}

.content-box a{
  text-decoration: none;
  
}
.play-button{
  width: 15px;
  height: 15px;
}


 

#logo{
  float: left;
  padding-top: 10px;
  border-right: 1px solid #2B2B2B;
  padding-right: 10px;
  padding-bottom: 4px;
    
}

#sign-in{
  font-weight: bold;
  font-size: 1.1em;
  float: left;
  padding: 10px;
  border-right: 1px solid #2B2B2B;
  padding-right: 80px;
    
}

#search-box{
  float:left;
  width:150px;
  padding: 10px;
  
}

#search-box input{
  background-image: url("http://static.bbci.co.uk/frameworks/barlesque/2.88.1/orb/4/img/orb-search-dark.png");
  background-repeat: no-repeat;
  background-position: right center;
  height: 20px;
  padding-bottom: 2px;
}

#logo-news{
  float: left;
  padding-top: 15px;
}

.watch-bar{
  float: right;
  position: relative;
  bottom: 350px;
  right: 380px;
  margin-top: 25px;
  color: #404040;
  font-family: Arial;
  border-left: 1px solid #879290;
  padding-left: 10px;;

}

.watch-bar h2{
  margin-top: 0;
  padding-left: 2px;
  
}

.watch-bar img{
  width: 200px;
  height: 35px;
}